<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update product</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>


<form method="post" class="w-50 m-auto p-4" enctype="multipart/form-data">
    <h2>Edit Product</h2>
    <img src="/media/{{p.pro_image}}" width="200px">
    {% csrf_token %}
    <div class="form-group">
        <label>Image</label>
        <input type="file" name="image"  value="/media/{{p.pro_image}}" class="form-control">
    </div>
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" name="pname" value="{{p.pro_name}}" class="form-control">
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary">


    </div>

</form>


</body>
</html>

