<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>


<form method="post" class="w-50 m-auto p-4">
    <h2>Login Here</h2>

    <div class="text-danger">{{error}}</div>
    {% csrf_token %}
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="uname" class="form-control">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="text" name="passw" class="form-control">
    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary">


    </div>

    <div ><a href="/new" class="btn btn-warning w-100">Create an account</a></div>
</form>


</body>
</html>

